.choose::-webkit-file-upload-button {
    color: white;
    display: inline-block;
    background: radial-gradient(circle, rgba(0, 134, 205, 1) 0%, rgba(0, 0, 0, 1) 100%);    border: none;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
}


.choose2::-webkit-file-upload-button {
    color: white;
    display: inline-block;
    background: radial-gradient(circle, rgba(220, 226, 230, 1) 0%, rgba(0, 0, 0, 1) 100%);    border: none;
    padding: 7px 15px;
    font-weight: 700;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 10pt;
}